.toolbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-inline-end: 1rem;
  }

  svg {
    transition: fill 0.3s linear;
  }

  &:hover,
  &:focus {
    svg {
      fill: $primary-blue;
    }
  }
}
